# Supabase
NUXT_PUBLIC_SUPABASE_URL=your-supabase-project-url
NUXT_PUBLIC_SUPABASE_KEY=your-supabase-publishable-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
DATABASE_URL=your-supabase-transaction-pooler-connection
DATABASE_URL_DIRECT=your-supabase-direct-connection

TRIGGER_PROJECT_REF=your-trigger-project-ref
TRIGGER_SECRET_KEY=your-trigger-secret-key

OPENROUTER_API_KEY=your-openrouter-api-key