# Supabase
NUXT_PUBLIC_SUPABASE_URL=your-supabase-project-url
NUXT_PUBLIC_SUPABASE_KEY=your-supabase-publishable-key
DATABASE_URL=postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres

TRIGGER_PROJECT_REF=your-trigger-project-ref
TRIGGER_SECRET_KEY=your-trigger-secret-key